<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
      @import url('https://codyhouse.co/demo/auto-hiding-navigation/css/reset.css');
      @import url('https://codyhouse.co/demo/auto-hiding-navigation/css/style.css');
      
   

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-color: #000000;
  border-style: double;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-color: #000000;
  border-style: double;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #d9d9d9;
}

.yayan-img {
  width: 0px;
  height: 0px;
  position: relative;
  overflow: hidden;
}
</style>

